body {
    background-color: black;
    width: auto;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

#backgroundVideo {
    width: 100%;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
}