header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
}

header img {
    width: 250px;
    margin-left: 10vw;
}

nav {
    margin-right: 15vw;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    padding: 0 2vh;
    font-size: large;
}

nav ul li a {
    color: white;
}

nav ul li a:hover {
    text-shadow: 5px 5px 10px grey;
    color: grey;
}

ul button {
    padding: 1.5vh;
    background-color: transparent;
    border-radius: 5px;
    border-width: 0.5px;
    border-color: white;
    color: white;
    font-size: large;
}

ul button:hover {
    color: black;
    background-color: white;
    transition-duration: 0.75s;
}