/*****************/
/* Images Slider */
/*****************/

.sliderSection {
    min-height: 400px;
    display: grid;
    place-items: center;
}

.slider {
    height: 550px;
    margin: auto;
    position: relative;
    width: 80%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slideTrack {
    display: flex;
    width: calc(300px * 14);
    animation: scroll 30s linear infinite;
}

.slideTrack:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-300px * 16));
    }
}

.imgSlide {
    height: 500px;
    display: flex;
    align-items: center;
    padding: 20px;
    perspective: 100px;
}

.imgSlide img {
    height: 100%;
    transition: transform 1s;
}

.imgSlide img:hover {
    transform: translateZ(5px);
}

/* Shadows */

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

/*****************/
/*Partners Slider*/
/*****************/

.sliderPartners {
    height: 600px;
    margin: 100px 0;
    text-align: center;
}

.sliderPartners h1 {
    font-size: 40px;
    margin: 0;
}

.sliderTrackPartners {
    width: 1000px;
    height: 500px;
    position: relative;
    margin: auto;
    padding: 0 50px;
}

.partnerSlide {
    display: none;
    height: 500px;
}

.partnerSlide img {
    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
    margin-right: 50px;
}

.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.buttons {
    margin: 50px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: white;
    border-radius: 3px 0 0 3px;
}

/*****************/
/**Videos Slider**/
/*****************/

.sliderTrackVideos {
    width: 100%;
    position: relative;
    margin: auto;
    padding: 0 50px;
    margin: 50px 200px;
    overflow: hidden;
}

.videoSlide {
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
}

.videoSlide .video video {
    width: 450px;
    margin: auto 10px;
}

.videoSlide .video h3 {
    text-align: center;
}

.videoPrev,
.videoNext {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    background: black;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 5px 5px;
    user-select: none;
}

.videoPrev {
    left: 0;
}

.videoNext {
    right: 0;
}

.videoPrev:hover,
.videoNext:hover {
    background-color: white;
    color: black;
}